.cont{
	display: flex;
    width: 100%;
}
#links{

	background-color: #a5a56b;
	border-left: 3px solid black;
	width: 10%;
}
#meza{
	align-self: center;
}

#main{
	width: 70%;
	background-color: #ffd391;
	border-right: 3px solid black;
	float: left;
	padding: 15px;
}


#kichwa{
	background-color: #FF9800;
	width: 80%;
	text-align: center;
	border: 3px solid black;
	padding: 15px;
	
}



#foot{
	background-color: #FF9800;
	width: 80%;
	text-align: center;
	border: 3px solid black;
	padding: 15px;
}
